데이터 모델 설계, NamedTuple, Model Unpacking <br>

instance -> abstraction of data in python <br>
객체는 파이썬의 데이터를 추상화한다. <br>
instance -> id, type -> value <br>
모든 객체는 id로 구분되며 type은 값이다. <br>

In [51]:
# 일반적인 튜플
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)
from math import sqrt

l_leng1 = sqrt((pt1[0] - pt2[0])**2 + (pt1[1]-pt2[1])**2)
print(l_leng1)

3.8078865529319543

namedtuple <br>
Collections module 아래에 있으며 튜플이 딕셔너리 성질을 갖고 있다. <br>
key와 value가 짝짓지만 튜플처럼 index로도 접근 가능하다. <br>
선언하는 방법이 5가지가 있다.<br>


Point2 = namedtuple('Point', ['x', 'y']) <br>

class명은 Point로 나온다. 그러나 Point2로 쓰든 Point2로 쓰든
똑같이 작동한다. 일종의 alias인 것이다.

In [52]:
from collections import namedtuple

# 방법
# (tuple_name:str, 띄어 쓰기로 구분된 key들)
# (tuple_name:str, ,로 구분된 key들)
# (tuple_name:str, keys: list)
# (tuple_name:str, 예약어가 포함된 keys, rename=True)
# Dict to Unpacking

Point = namedtuple('Point', 'x y')
# class 형식으로 추상화하고 있다.
# 마치 JavaScript의 prototypal class 선언처럼 행동한다.


pt3 = Point(1.0, 5.0)
pt4 = Point(2.5, 1.5)
print(pt3, pt4)
print(pt3[0], pt3[1]) # index로 접근한다.
print(pt3.x, pt3.y) # key를 instance의 attribute로 접근한다.
print(Point)

Point(x=1.0, y=5.0) Point(x=2.5, y=1.5)
1.0 5.0
1.0 5.0
<class '__main__.Point'>

In [53]:
l_leng2 = sqrt((pt3.x - pt4.x)**2 + (pt3.y-pt4.y)**2)
print(l_leng2)

3.8078865529319543

namedTuple 또한 tuple처럼 불변의 특성을 지니고 있기 때문에 중복될 수 없고, 당연히 "class"와 같은 예약어 들은 인스턴스 변수처럼 지정할 수 없습니다.
✔️ 따라서 아래와 같은 code는 x값이 중복되어 있고, class라는 예약어가 선언 시 사용되었기 때문에 에러를 발생시킵니다.

🔎 Point4 = namedtuple('Point', 'x y x class') 👈 x중복, class 예약어
✔️ 이럴 경우, rename 옵션을 True로 활성화하면 중복되는 값 또는 예약어 등의 잘못된 변수로 선언 시 사용해도 오류를 반환하지 않고, 랜덤한 변수에 데이터를 할당해줍니다.
✔️ 뿐만아니라 더블아스타(**)를 사용해 딕셔너리의 형태도 언팩킹 해줍니다. <br>
출처: https://velog.io/@jewon119/Python-%EC%8B%AC%ED%99%94-NamedTuple

In [54]:
Point1 = namedtuple('Point', 'x y')
Point2 = namedtuple('Point', ['x', 'y'])
Point3 = namedtuple('Point', 'x, y')
Point4 = namedtuple('Point', 'x y x class', rename=True)
# 예약어나 중복key를 덮을 쓸 때, 사용함. False가 default다.
# 중복된 x, 예약어 class에 값이 들어오면 _2, _3처럼 인덱스에 관련되는 이름으로 변형됨

In [55]:
print(Point) 
print(Point2)
print(Point3)
print(Point4)
# <class '__main__.Point'> 
# 방금 전의 print(Point)와 동일하다.

<class '__main__.Point'>
<class '__main__.Point'>
<class '__main__.Point'>
<class '__main__.Point'>

In [56]:
# 객체 생성
p0 = Point(x=1, y = 9)
p1 = Point1(x=-2, y = 7)
p2 = Point1(20, 40)
p3 = Point1(3, y = 5)
p4 = Point4(10, 20, 30, 40)
print(p1, p2, p3, p4)
print(f'p0 == {p0}')

Point(x=-2, y=7) Point(x=20, y=40) Point(x=3, y=5) Point(x=10, y=20, _2=30, _3=40)
p0 == Point(x=1, y=9)

In [57]:
# Dict to Unpacking

temp_dict = {'x': 75, 'y':55}
p5 = Point3(**temp_dict)
print(p5)

Point(x=75, y=55)

In [58]:
# 이용
print(p1.x + p2.y)

x, y = p3 # 네임드튜플도 튜플이다.

print(x, y)

38
3 5

namedtuple method <br>
공통적으로 맨앞에 _가 들어간다. <br>
_make(list) -> namedtuple <br>

_fields: 메소드 아님. class의 field를 조회할 수 있다. key들만 있는 tuple이다. <br>

_asdict() -> OrderedDict(3.7 이하 버전), Dict(3.8 이후)  <br>

In [59]:
temp = [52, 38]

p4= Point1._make(temp)
print(p4)
print(p4._fields)

Point(x=52, y=38)
('x', 'y')

In [60]:
print(p1._asdict(), type(p1._asdict()))

{'x': -2, 'y': 7} <class 'dict'>

In [63]:
# 실습
# 반 20명, 4개의 반(A, B, C, D)
Classes = namedtuple('Classes', ['rank', 'number'])

numbers = [str(n) for n in range(1, 21)]

ranks = 'A B C D'.split(' ') # ' ' 기준으로 문자열 분리시킨 리스트 반환

students = [Classes(i, j) for i in ranks for j in numbers]

print(students, len(students))

[Classes(rank='A', number='1'), Classes(rank='A', number='2'), Classes(rank='A', number='3'), Classes(rank='A', number='4'), Classes(rank='A', number='5'), Classes(rank='A', number='6'), Classes(rank='A', number='7'), Classes(rank='A', number='8'), Classes(rank='A', number='9'), Classes(rank='A', number='10'), Classes(rank='A', number='11'), Classes(rank='A', number='12'), Classes(rank='A', number='13'), Classes(rank='A', number='14'), Classes(rank='A', number='15'), Classes(rank='A', number='16'), Classes(rank='A', number='17'), Classes(rank='A', number='18'), Classes(rank='A', number='19'), Classes(rank='A', number='20'), Classes(rank='B', number='1'), Classes(rank='B', number='2'), Classes(rank='B', number='3'), Classes(rank='B', number='4'), Classes(rank='B', number='5'), Classes(rank='B', number='6'), Classes(rank='B', number='7'), Classes(rank='B', number='8'), Classes(rank='B', number='9'), Classes(rank='B', number='10'), Classes(rank='B', number='11'), Classes(rank='B', number='12'), Classes(rank='B', number='13'), Classes(rank='B', number='14'), Classes(rank='B', number='15'), Classes(rank='B', number='16'), Classes(rank='B', number='17'), Classes(rank='B', number='18'), Classes(rank='B', number='19'), Classes(rank='B', number='20'), Classes(rank='C', number='1'), Classes(rank='C', number='2'), Classes(rank='C', number='3'), Classes(rank='C', number='4'), Classes(rank='C', number='5'), Classes(rank='C', number='6'), Classes(rank='C', number='7'), Classes(rank='C', number='8'), Classes(rank='C', number='9'), Classes(rank='C', number='10'), Classes(rank='C', number='11'), Classes(rank='C', number='12'), Classes(rank='C', number='13'), Classes(rank='C', number='14'), Classes(rank='C', number='15'), Classes(rank='C', number='16'), Classes(rank='C', number='17'), Classes(rank='C', number='18'), Classes(rank='C', number='19'), Classes(rank='C', number='20'), Classes(rank='D', number='1'), Classes(rank='D', number='2'), Classes(rank='D', number='3'), Classes(rank='D', number='4'), Classes(rank='D', number='5'), Classes(rank='D', number='6'), Classes(rank='D', number='7'), Classes(rank='D', number='8'), Classes(rank='D', number='9'), Classes(rank='D', number='10'), Classes(rank='D', number='11'), Classes(rank='D', number='12'), Classes(rank='D', number='13'), Classes(rank='D', number='14'), Classes(rank='D', number='15'), Classes(rank='D', number='16'), Classes(rank='D', number='17'), Classes(rank='D', number='18'), Classes(rank='D', number='19'), Classes(rank='D', number='20')] 80

In [65]:
# 추천, 가독성을 추구하자
# 여기의 띄어쓰기 들여쓰기는 가독성을 위한 것이지 문법 사항이 아니다.
students2 = [
    Classes(rank, number)
    for rank in 'A B C D'.split(' ')
        for number in [str(n)
            for n in range(1, 21)]
]
print(students2)

[Classes(rank='A', number='1'), Classes(rank='A', number='2'), Classes(rank='A', number='3'), Classes(rank='A', number='4'), Classes(rank='A', number='5'), Classes(rank='A', number='6'), Classes(rank='A', number='7'), Classes(rank='A', number='8'), Classes(rank='A', number='9'), Classes(rank='A', number='10'), Classes(rank='A', number='11'), Classes(rank='A', number='12'), Classes(rank='A', number='13'), Classes(rank='A', number='14'), Classes(rank='A', number='15'), Classes(rank='A', number='16'), Classes(rank='A', number='17'), Classes(rank='A', number='18'), Classes(rank='A', number='19'), Classes(rank='A', number='20'), Classes(rank='B', number='1'), Classes(rank='B', number='2'), Classes(rank='B', number='3'), Classes(rank='B', number='4'), Classes(rank='B', number='5'), Classes(rank='B', number='6'), Classes(rank='B', number='7'), Classes(rank='B', number='8'), Classes(rank='B', number='9'), Classes(rank='B', number='10'), Classes(rank='B', number='11'), Classes(rank='B', number='12'), Classes(rank='B', number='13'), Classes(rank='B', number='14'), Classes(rank='B', number='15'), Classes(rank='B', number='16'), Classes(rank='B', number='17'), Classes(rank='B', number='18'), Classes(rank='B', number='19'), Classes(rank='B', number='20'), Classes(rank='C', number='1'), Classes(rank='C', number='2'), Classes(rank='C', number='3'), Classes(rank='C', number='4'), Classes(rank='C', number='5'), Classes(rank='C', number='6'), Classes(rank='C', number='7'), Classes(rank='C', number='8'), Classes(rank='C', number='9'), Classes(rank='C', number='10'), Classes(rank='C', number='11'), Classes(rank='C', number='12'), Classes(rank='C', number='13'), Classes(rank='C', number='14'), Classes(rank='C', number='15'), Classes(rank='C', number='16'), Classes(rank='C', number='17'), Classes(rank='C', number='18'), Classes(rank='C', number='19'), Classes(rank='C', number='20'), Classes(rank='D', number='1'), Classes(rank='D', number='2'), Classes(rank='D', number='3'), Classes(rank='D', number='4'), Classes(rank='D', number='5'), Classes(rank='D', number='6'), Classes(rank='D', number='7'), Classes(rank='D', number='8'), Classes(rank='D', number='9'), Classes(rank='D', number='10'), Classes(rank='D', number='11'), Classes(rank='D', number='12'), Classes(rank='D', number='13'), Classes(rank='D', number='14'), Classes(rank='D', number='15'), Classes(rank='D', number='16'), Classes(rank='D', number='17'), Classes(rank='D', number='18'), Classes(rank='D', number='19'), Classes(rank='D', number='20')]